<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple HTML document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <ul class="header">
        <li><a href="/">Home</a></li>
        <li><a href="/news/124">Test news</a></li>
        <li><a href="/news/124?filter=id&city=lviv">Test news filter</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <div class="container">