<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test page</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <% include blocks/header.ejs %>
        
        <div class="block">
            <h1>Test html page</h1>
        </div>
    </body>
</html>
